<p style="color: green"><%= notice %></p>

<h1>Users</h1>

<table class = "table">
  <thead>
  <tr>
    <th>Name</th>
    <th>Email</th>
<!--    <th>City</th>-->
    <th>State</th>
    <th>Country</th>
<!--    <th>Country_Number</th>-->
    <th>Actions</th>
  </tr>
  </thead>
  <tbody id="user_list">
  <% @users.each do |user| %>
    <%= render 'user', user: user %>
  <% end %>
  </tbody>
</table>

<%#= link_to "New user", new_user_path(format: :turbo_stream) %>
<%= link_to "New user", new_user_path, data: {controller: 'user-modal'} %>
